.icon-arrow {
  width: 1.8em;
  height: 1em;
  fill: initial;
}
.icon-download {
  width: 1.12em;
  height: 1em;
  fill: #C0C0C0;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-globe {
  width: 0.96em;
  height: 1em;
  fill: #B0CF02;
}
.icon-key {
  width: 1.05em;
  height: 1em;
  fill: #B0CF02;
}
.icon-lunch {
  width: 1.24em;
  height: 1em;
  fill: #B0CF02;
}
